<div class="foot">
    <div id="counttools">
        <script type="text/javascript">
        
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31020393-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
    </div>
    <div id="footinfo">
        Copyright&copy; $config.site_name
        作者:memoryboxes@163.com&nbsp;&nbsp; <a href="http://webpy.org/" target="_blank"><img src="$config.static/images/webpy_ss.png" alt="powered by web.py" /></a>
         本站内容由爬虫自动收集于网络，如有不当内容请联系我们，核实后立即删除。
    </div>
</div>
</body>
</html> 