<div class="foot">
    <div id="counttools">
        <script language="javascript" type="text/javascript" src="http://js.users.51.la/7495207.js"></script>
        <noscript>
            <a href="http://www.51.la/?7495207" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/7495207.asp" style="border:none" /></a>
        </noscript>
    </div>
    <div id="footinfo">
        Copyright&copy; $config.site_name
        作者:memoryboxes@163.com&nbsp;&nbsp; <a href="http://webpy.org/" target="_blank"><img src="$config.static/images/webpy_ss.png" alt="powered by web.py" /></a>
    </div>
</div>
</body>
</html> 