$:render.header()
<div class="box">
    <h2>simpletpb能帮你什么？</h2>
    <p>我们厌倦了为一个资源在网上苦苦寻觅的经历。是的，最终还是能找到，但花费了太多的时间。simpletpb力图做一个轻巧的资源聚合站点。让您在最短的时间内，找到想要的东西。</p>
    </ br>
    </ br>
    <h2>simpletpb的资源来自哪里?</h2>
    <p>simpletpb的初期资源主要来源于tpb(大家可以自行google)，起初是怕tpb挂掉，便用爬虫爬下来做了一个镜像站。后来发现里面有不少的好东东，便萌生了做成一个站点，让更多的人来分享的念头。我们也会在后期改进爬虫，增加部分国内下载的资源。</p>
    </ br>
    </ br>
    <h2>simpletpb如何推荐资源呢?</h2>
    <p>系统在后台采用加权算法，资源独特，用户评分高以及速度最给力的东东会被推到前台。</p>
    </ br>
    </ br>
    <h2>我该如何下载呢?</h2>
    <p>simpletpb的资源是<a href="http://baike.baidu.com/view/3116828.htm">磁力链接</a>。您可以使用最新版的<a href="http://dl.pconline.com.cn/download/51224.html">迅雷</a>或者<a href="http://dl.pconline.com.cn/download/52509.html">网际快车</a>，<a href="http://dl.pconline.com.cn/download/53292.html">QQ旋风</a>都可以下载本站的资源</p>
    </ br>
    </ br>
    <h2>我没有找到想要的东西?</h2>
    <p>simpletpb在不断完善中，您没有找到，请过一会儿再来看看，可能爬虫一会儿就增加了热门资源。另外，搜索的时候，您可以把关键字多匹配几次，或者去掉空格，或者减少关键字，会有意外惊喜。当然，我们也在不断完善网站功能，用户上传及评论功能正在增加中 ......</p>
    </ br>
    </ br>
    <h2>我有意见或建议?</h2>
    <p>谢谢您的关注，您可以到<a href="http://hi.baidu.com/simpletpb/home">我们的blog上留言。</a></p>
</div>
$:render.foot() 